html {
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s ease;
}

body {
  margin: 0;
  font-family: var(--md-ref-typeface-plain);
  background: #1c1c1c;
  color: #fff;
}

md-top-app-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
  padding: 20px;
}

main {
  padding: 120px 20px 40px;
  max-width: 900px;
  margin: 0 auto;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.menu a {
  font-size: 1.2em;
  color: var(--md-sys-color-primary);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 10px;
}

.menu a:hover {
  background-color: var(--md-sys-color-primary);
  color: #fff;
}

.card {
  width: 50%;
  padding: 25px;
  margin: 25px auto;
  border-radius: 15px;
  text-align: left;
  background-color: #121212;
}

.filled_card {
  background-color: #282828;
  margin: 10px 0;
  border-radius: 12px;
  padding: 15px;
}

.elevated_card {
  background-color: #121212;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 12px;
}

.outlined_card {
  background-color: #121212;
  border: 1px solid #666;
  border-radius: 12px;
}

h1, h2, h3 {
  margin-top: 0;
  font-family: var(--md-ref-typeface-brand);
  position: relative;
  scroll-margin-top: 120px;
}

h1 {
  font-weight: 600;
  font-size: 2.2em;
  margin-bottom: 10px;
  color: #fff;
}

h2 {
  font-weight: 300;
  font-size: 1.6em;
  margin-bottom: 8px;
}

p, li {
  font-size: 1em;
  line-height: 1.6em;
}

ul {
  padding-left: 25px;
}

a {
  color: var(--md-sys-color-secondary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre {
  background: #222;
  border-radius: 8px;
  color: #eee;
  padding: 12px;
  overflow-x: auto;
  font-family: monospace;
}

footer {
  text-align: center;
  padding: 25px;
  font-size: 0.9em;
  color: #aaa;
  border-top: 1px solid #444;
  margin-top: 40px;
  background-color: inherit;
}

:root {
  --md-sys-color-primary:  #7bafd4;
  --md-sys-color-tertiary: #928e93;
  --md-sys-color-secondary: #7395AE;
  --md-ref-typeface-brand: 'Manrope', sans-serif;
  --md-ref-typeface-plain: 'Manrope', sans-serif;
  --background-gradient: #1c1c1c;
  --text-color: #fff;
  --card-bg: #121212;
  --filled-card-bg: #282828;
  --outlined-card-bg: #121212;
  --outlined-card-border: 1px solid #666;
  --link-color: var(--md-sys-color-secondary);
  --pre-bg: #222;
  --pre-color: #eee;
  --footer-color: #aaa;
  --footer-border: 1px solid #444;
}

.anch {
  opacity: 0;
  font-size: 0.8em;
  margin-left: 8px;
  color: var(--md-sys-color-secondary);
  text-decoration: none;
  transition: opacity 0.3s ease;
}



.video-container {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center; 
  align-items: center;  
}

.video-container canvas {
  width: 50%;
  height: auto;
  margin: auto;
  border-radius: 10px;
}

video {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#pointer, #scroll_point {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  display: none;
  background-color: rgba(255, 170, 170, 0.8);
  z-index: 100;
  transition: transform 0.1s linear;
  animation: pulse 1s infinite;
  box-shadow: 0 0 10px rgba(255, 170, 170, 0.8);
}

#scroll_point {
  background-color: rgba(252, 213, 130, 0.8);
  box-shadow: 0 0 10px rgba(252, 213, 130, 0.8);
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

h1 {
  font-size: 500%;
  text-align: center;
  padding: 20px 0px;
}

@media (max-width: 600px) {
  .video-container canvas {
    width: 100%;
  }
}

md-switch {
  --md-switch-track-color: #ccc;
  --md-switch-handle-color: #fff;
  --md-switch-icon-color: #333;
  --md-switch-selected-track-color: var(--md-sys-color-primary);
  --md-switch-selected-handle-color: #fff;
  --md-switch-selected-icon-color: #fff;
  --md-switch-hover-track-color: #b3b3b3;
  --md-switch-hover-handle-color: #f0f0f0;
  --md-switch-selected-hover-track-color: color-mix(in srgb, var(--md-sys-color-primary) 90%, white 10%);
  --md-switch-selected-hover-handle-color: #f0f0f0;
  --md-switch-focus-track-color: #999;
  --md-switch-focus-handle-color: #e0e0e0;
  --md-switch-selected-focus-track-color: color-mix(in srgb, var(--md-sys-color-primary) 80%, black 20%);
  --md-switch-selected-focus-handle-color: #e0e0e0;
  --md-switch-pressed-track-color: #808080;
  --md-switch-pressed-handle-color: #d0d0d0;
  --md-switch-selected-pressed-track-color: color-mix(in srgb, var(--md-sys-color-primary) 70%, black 30%);
  --md-switch-selected-pressed-handle-color: #d0d0d0;
  --md-switch-hover-state-layer-color: transparent;
  --md-switch-selected-hover-state-layer-color: transparent;
}

md-switch:hover {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.beautify-content {
  display: flex;
  gap: 16px;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.settings-container {
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.setting-item {
  flex: 1 1 calc(40% - 0px);
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.animated-gradient-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
  opacity: 1;
  background: none;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animated-gradient-bg::before {
  content: "";
  position: absolute;
  width: 300%;
  height: 300%;
  top: -100%;
  left: -100%;
  opacity: 1;
  background-blend-mode: lighten;
  background: radial-gradient(circle at 0% 100%, #fff 0%, var(--md-sys-color-tertiary) 20%, rgb(0, 0, 0) 99%),
              radial-gradient(circle at 100% 0%, #fff 0%, var(--md-sys-color-secondary) 20%, rgb(0, 0, 0) 99%);
  animation: rotate 10s infinite linear;
}

.btn-style {
  user-select: none;
  flex-shrink: 0;
  box-sizing: border-box;
  font-family: var(--md-ref-typeface-plain);
  border: 1px solid var(--md-sys-color-secondary);
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: var(--md-sys-color-secondary);
  color: #fff;
  position: relative;
  overflow: hidden;
}

.btn-style[disabled] {
  background-color: #111;
  color: #333;
  border-color: #111;
}

.btn-style:hover {
  cursor: pointer;
}

.btn-style::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffffff10;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  transition: none;
}

.btn-style[disabled]::after {
  display: none;
}

.btn-style[disabled]:hover {
  cursor: default;
}

.btn-style:active::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  animation: ripple 0.6s ease-out forwards;
}

@keyframes ripple {
  0% { transform: translate(-50%, -50%) scale(1); }
  80% { background-color: #ffffff20; transform: translate(-50%, -50%) scale(45); }
  100% { transform: translate(-50%, -50%) scale(30); opacity: 0; }
}

.switch {
  flex-shrink: 0;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.2em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  background-color: #242424;
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid #555;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  left: 0.1em;
  bottom: 0.15em;
  background-color: white;
  border-radius: inherit;
  transform: scale(0.8);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.switch input + .slider:active::before {
  transform: scale(1.05);
}

.switch input:checked + .slider {
  border: 1px solid var(--md-sys-color-primary);
  background-color: var(--md-sys-color-primary);
}

.switch input:checked + .slider:before {
  transform: translateX(1.3em);
}

.slide {
  -webkit-appearance: none;
  width: 150px;
  height: 5px;
  border-radius: 20px;
  background: linear-gradient(to right, var(--md-sys-color-secondary) var(--value, 50%), lightgray var(--value, 50%));
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--md-sys-color-primary);
  cursor: pointer;
}

.centerer {
  width: 50%;
  padding: 0px;
  margin: 25px auto;
}
.there-will-be-video{
  display: flex;
  text-align: center;
  display: none;
}

.status-style{
  text-align: center; 
  margin-bottom: 10px; 
  font-size: 1.2em; 
}
#status{
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.2);
  width: fit-content;
  height: fit-content;
  padding: 10px 10px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
}