
.slide {
  -webkit-appearance: none;
  width: 150px;
  height: 5px;
  background: linear-gradient(to right, #525252 50%, #111111 50%);
  outline: none;
  opacity: 0.7;
  border-radius: 100px;
  display: inline-flex;
  margin: 0px 20px;
  vertical-align: auto;
  transition: .2s ease-in-out;
}

.slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 5px #000;
  cursor: pointer;
}